html, body, #root {
    min-height: 100vh;
}

.root-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.outlet-container {
    flex: 1;
}

.active {
    background-color: red;
    border-radius: 5px;
    color: white;
}